.header-wrapper {
  top: 0;
  position: fixed;
  width: 100%;
  height: 2.5em;
  background-color: aqua;
  display: flex;
  align-items: center;
}

.header-left  a {
  text-decoration: none;
}

.header-wrapper >:first-child {
  margin-right: auto;
}

.header-right ul {
  display: flex;
}

.header-right li {
  list-style: none;
  color: brown;
  padding: 0 18px 0 18px;
}